{% extends "base.html" %}
{% load urlify %}

{% block head_title %}
{{instance.title}} | {{block.super}}
{% endblock head_title %}

{% block content %}
    <div class='col-lg-8 col-md-10 mx-auto'>
        {% if instance.image %}
            <img src='{{instance.image.url}}' class='img-responsive'/>
        {% endif %}
        <h1>{{title}}</h1><a>{% if instance.draft %}<small> <span style='color:red;'> Draft </span>{% endif %}{{instance.publish}}</small></a>
        {% if instance.user.get_full_name %}
            <p>Author:{{instance.user.get_full_name}}</p>
        {% endif %}
        <p><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div></p>
        <hr/>
        <div class='row'>
            <div class='col-sm-12'>
                {{instance.content | linebreaks}}
                <hr/>
                <br/>
                <div class="fb-comments" data-href="{{request.build_absolute_url}}" data-numposts="5"></div>
            </div>
        </div>
    </div>
    </br>
{% endblock content %}
